global:
  scrape_interval: 15s
  evaluation_interval: 15s
  scrape_timeout: 10s

scrape_configs:
  # Prometheus self-monitoring
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9090']

  # Docker container metrics
  - job_name: 'docker-containers'
    scrape_interval: 5s
    static_configs:
      - targets: ['docker-exporter:9487']
