apiVersion: 1

# list of datasources to insert/update
datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    url: http://prometheus:9090
    basicAuth: false
    isDefault: true
    version: 1
    editable: true
    uid: prometheus-main
    jsonData:
      timeInterval: "15s"
      queryTimeout: "60s"
